header, footer {
    text-align: center;
    background-color: paleturquoise;
    
}
body {
    background-color: lightgray;
    max-width: 1024px;
    margin: 8px auto;
    display: block;
}

p {
    text-align: center;
}
#mainHeading {
    color: red;
}
/* {
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
      } */
      
#map-of-europe {
    /* height: 592; */
    display: block;
    /* width: 600; */
    /* float:left;  */
    display: inline; 
    margin-bottom: 20px;
    
}      

/* nav {
    align-items: right;
} */
    /* border: 2px dashed black;
    color: red;*/
    /* float: right;  */
    /*display:inline;  */
    /* width: 25%; */
    /* padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px; */
    

/* hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } */
section {
    margin-top: 20px;
}
.content-photo {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 5px 5px 5px 5px;
  }

  .funParagraph {
      color: green;
  }