header, footer {
    text-align: center;
    background-color: paleturquoise;
    
}
body {
    background-color: lightgray;
    max-width: 1024px;
    margin: 8px auto;
    display: block;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
#mainHeading {
    color: red;
}
      
#map-of-europe {
    /* display: block; */
    display: inline; 
    margin-bottom: 20px;
    
}      

section {
    margin-top: 20px;
}
.content-photo {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 5px 5px 5px 5px;
  }

#taxiCatImg {
    align-items: center;
}

button {
    background-color: lightgoldenrodyellow;
}

  .funParagraph {
      color: green;
  }

  #chocolatePic {
    transform: rotate(270deg);
  }